<html>
<head>
<title><%= title %></title>
</head>
<body>
	<% if (names.length){ %>
		<ul>
		<% names.forEach(function(name){ %>
			<li><%= name %></li>
		<% }); %>
		</ul>
	<% } %>
	<p><%=: names|downcase %></p>
	<p><%=: people|map:'name'|sort|join %></p>
</body>
</html>