<html>
	<head>
		<title>Redis sync</title>
	</head>
	<body>
		<h1>String operation using redis</h1>
		<h3>Add new String key (Note : key must be unique)</h3>
		<form method='post' action='/new_key'>
			<p>Key   <input type='text' name='key'></p>
			<p>Value <input type='text' name='value'></p>
			<p><input type='submit' value='Submit'></p>
		</form>
		
		<h3>Enter the key to know what value is stored</h3>
		<form method='post' action='/get_key'>
			<p>Key   <input type='text' name='key'></p>
			<p><input type='submit' value='Search Contact'></p>
		</form>
	</body>
</html>